.container {
  width: 100%;
  position: relative;
  min-height: 100px;
  border-bottom: 1px solid #dbdbdb8c;
  padding: 30px 40px 0 40px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: visible;
}

.titleSection {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
