.container {
  width: 100%;
  position: relative;
  min-height: 100px;
  border-bottom: 1px solid #dbdbdb8c;
  padding: 30px 40px 0 40px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: visible;
}

.titleSection {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media (max-width: 785px) {
  .container {
    padding-left: 20px;
    padding-right: 20px;
  }
}

@media (max-width: 575px) {
  .titleSection {
    flex-direction: column;
    gap: 30px;
  }
  .titleSection h1 {
    font-size: 30px;
  }
}
