.container {
  width: 100%;
  position: relative;
  min-height: 100px;
  max-width: calc(1920px - 250px);
}
.fixedContainer {
  position: fixed;
  width: calc(100% - 250px);
  max-width: calc(1920px - 250px);
  padding: 20px 40px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-color: #fbfbff;
  z-index: 10;
  border-bottom: 1px solid #dbdbdb8c;
}

.leftSection {
  flex: 1;
  display: flex;
  justify-content: flex-start;
  gap: 50px;
  align-items: center;
}

.rightSection {
  flex: 1;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 40px;
  font-size: 18px;
}

.tools {
  display: flex;
  gap: 40px;
}

.profile {
  border-radius: 8px;
}

.inputWidth {
  width: 300px;
}

.logoSection {
  display: none;
}

.InputWithAdornment {
  width: auto;
}

.menu {
  display: none;
}

.desktopProfile {
  display: flex;
  align-items: center;
}

.mobileProfile {
  display: none;
}

.email {
  display: flex;
  align-items: center;
}

.settings {
  display: flex;
  align-items: center;
}

@media (max-width: 1300px) {
  .fixedContainer {
    width: 100%;
  }
  .logoSection {
    display: flex;
  }
  .menu {
    display: flex;
    align-items: center;
  }
  .desktopProfile {
    display: none;
  }
  .mobileProfile {
    display: flex;
    align-items: center;
  }
}

@media (max-width: 785px) {
  .InputWithAdornment {
    display: none;
  }
  .fixedContainer {
    padding-left: 20px;
    padding-right: 20px;
  }
}

@media (max-width: 400px) {
  .email {
    display: none;
  }
  .rightSection,
  .tools {
    gap: 30px;
  }
}

@media (max-width: 330px) {
  .settings {
    display: none;
  }
}
