.container {
  width: 100%;
  position: relative;
  min-height: 100px;
}
.fixedContainer {
  position: fixed;
  width: calc(100% - 250px);
  padding: 20px 40px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-color: #fbfbff;
  z-index: 10;
  border-bottom: 1px solid #dbdbdb8c;
}

.leftSection {
  width: auto;
}

.rightSection {
  flex: 1;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 40px;
  font-size: 18px;
}

.tools {
  display: flex;
  gap: 40px;
}

.profile {
  border-radius: 8px;
}

.inputWidth {
  width: 300px;
}
