.container {
  flex: 1;
  position: relative;
  background: #fbfbff;
  min-height: 100vh;
  overflow: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-left: 1px solid #dbdbdb8c;
}
