@import url("http://fonts.cdnfonts.com/css/circular-std");
@import url("http://fonts.cdnfonts.com/css/karla");
@import url("http://fonts.cdnfonts.com/css/graphie");
@import url("http://fonts.cdnfonts.com/css/nunito");

@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: "Karla", sans-serif;
  font-size: 17px;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}
